## MILP parameters

# boolean to indicate whether we should solve using a MILP-based approach
solve_milp = 1

# the solver engine used
milp_solver = CP-SAT

# number of algorithms to try
num_algorithms = 1

# supported types: bsor, txcomm_fission, txcomm_fission_fusion, imr_fission, imr_fission_fusion, sgr, rahtm
algorithm_id = bsor

custom_topology = 0

topology_is_mapped = 1

topology_file = app/input/topo.1

concentration_factor = 1

## Routing-Related

# BSOR can be solved for 3 objectives: 1: maximize total throughput, 2: maximize min fairness, 3: minimze MCL
bsor_objective_num = 3

# SGR can be solved for 2 primary-objectives (the other is the secondary): 1: minimize hop count, 2: minimize MCL
sgr_objective_num = 2

## Rahtm-related (should later be coordinated with mapping_config)

process_count = 4096
benchmark = cg

w0 = 4
w1 = 4
w2 = 2
w3 = 2