# Configuration file for the mesh network simulation

num_iterations = 3 
# Mode of operation
power_model_mode = detailed  

topology_rows = 6             
topology_columns = 6    
topology_depth = 1     

# Virtual Channels (VCs)
num_vcs = 4                  
vc_operation_mode = round_robin

# Routing Algorithm for the entire network
routing_algorithm_1 = valiant_xy
routing_algorithm_2 = minimal_or
routing_algorithm_3 = lbor
