# Configuration file for the hypercube network simulation
topology = hypercube
num_iterations = 3  # Number of algorithms to be simulated on same flows
percentage_of_faulty_links = 0.0  # Percentage of faulty links in the network (0.0 means no faulty links)
# Mode of operation
power_model_mode = detailed  # Options: none, detailed

dimensions = 5            # Number of dimensions

# Virtual Channels (VCs)
num_vcs = 5                  
vc_operation_mode = round_robin  # Options: custom, round_robin  

# Routing Algorithm for each VC (only used if vc_operation_mode = custom)
vc_routing_algorithms_1 =lbor,valiant_xy,lbor,valiant_xy

# Routing Algorithm for the entire network (only used if vc_operation_mode = round_robin)
routing_algorithm_1 = valiant_xy
routing_algorithm_2 = destination_tag
routing_algorithm_3 = xor_tag
