# Configuration file for the ring network simulation
topology = ring  
num_iterations = 4  # Number of algorithms to be simulated on same flows
percentage_of_faulty_links = 0.0  # Percentage of faulty links in the network (0.0 means no faulty links)
# Mode of operation
power_model_mode = detailed  # Options: abstract, detailed

num_nodes = 49           # Number of nodes in the network

# Virtual Channels (VCs)
num_vcs = 5                 
vc_operation_mode = round_robin  # Options: custom, round_robin  

# Routing Algorithm for each VC (only used if vc_operation_mode = custom)
vc_routing_algorithms_1 = destination_tag, destination_tag, minimal_or, minimal_or

# Routing Algorithm for the entire network (only used if vc_operation_mode = round_robin)
routing_algorithm_1 = valiant_xy
routing_algorithm_2 = dimension_order_xy
routing_algorithm_3 = minimal_or
routing_algorithm_4 = lbor