# Configuration file for the torus network simulation
topology = torus
num_iterations = 5  # Number of algorithms to be simulated on same flows
percentage_of_faulty_links = 0.0  # Percentage of faulty links in the network (0.0 means no faulty links)
# Mode of operation
power_model_mode = detailed  # Options: abstract, detailed

topology_rows = 5             # Number of rows 
topology_columns = 5          # Number of columns 
topology_depth = 2            # Depth

# Virtual Channels (VCs)
num_vcs = 5                  
vc_operation_mode = round_robin  # Options: custom, round_robin  

# Routing Algorithm for each VC (only used if vc_operation_mode = custom)
vc_routing_algorithms_1 = destination_tag, destination_tag, minimal_or, minimal_or

# Routing Algorithm for the entire network (only used if vc_operation_mode = round_robin)
routing_algorithm_1 = valiant_xy
routing_algorithm_2 = minimal_or
routing_algorithm_3 = lbor
routing_algorithm_4 = destination_tag
routing_algorithm_5 = dimension_order_xy
